<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Prayer Times</h2>
            <p class="lead">Add Prayer times to your website. Automatically updates everyday, please visit <a href="https://freeislamictemplates.appspot.com/">https://freeislamictemplates.appspot.com/</a> for instructions on how to set it up for your location.</p>
            <p>Use prayers.php after setting up prayer times. This will not display the prayer times.</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="prayer-times1 shadow-box">
                            <h3>Prayer Times</h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="prayer-times2 shadow-box">
                            <h3>Prayer Times</h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="prayer-times3 shadow-box">
                            <h3>Prayer Times</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>