@model Muslim.Core.Domain.Thumbnails.Thumbnail

<div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
    <div class="feature-wrap">
        <i class="fa fa-bullhorn"></i>
        <h2>@Model.Title</h2>
        <h3>@Model.Description</h3>
    </div>
</div>