<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Recent News &amp; Updates</h2><br>
            <h2>Visit: <a target="_blank" href="https://freeislamictemplates.appspot.com/" title="Free Islamic Templates">Free Islamic Templates</a></h2>
            <p class="lead">
                بِسۡمِ ٱللهِ ٱلرَّحۡمَـٰنِ ٱلرَّحِيمِ (﻿١﻿)
                ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَـٰلَمِينَ (﻿٢﻿) ٱلرَّحۡمَـٰنِ ٱلرَّحِيمِ (﻿٣﻿) مَـٰلِكِ يَوۡمِ ٱلدِّينِ (﻿٤﻿) إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ (﻿٥﻿) ٱهۡدِنَا ٱلصِّرَٲطَ ٱلۡمُسۡتَقِيمَ (﻿٦﻿) صِرَٲطَ ٱلَّذِينَ أَنۡعَمۡتَ عَلَيۡهِمۡ غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ وَلَا ٱلضَّآلِّينَ (﻿٧﻿)<br>بِسۡمِ ٱللهِ ٱلرَّحۡمَـٰنِ ٱلرَّحِيمِ (﻿١﻿)
                ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَـٰلَمِينَ (﻿٢﻿) ٱلرَّحۡمَـٰنِ ٱلرَّحِيمِ (﻿٣﻿) مَـٰلِكِ يَوۡمِ ٱلدِّينِ (﻿٤﻿) إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ (﻿٥﻿) ٱهۡدِنَا ٱلصِّرَٲطَ ٱلۡمُسۡتَقِيمَ (﻿٦﻿) صِرَٲطَ ٱلَّذِينَ أَنۡعَمۡتَ عَلَيۡهِمۡ غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ وَلَا ٱلضَّآلِّينَ (﻿٧﻿)
            </p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-comments"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-leaf"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-cogs"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2>Title</h2>
                        <h3>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Masjid Photo Gallery</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title</a> </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title</a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title</a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Event Title </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Classes &amp; Community Events</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Class</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services2.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Class</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services3.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Class</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services4.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Volunteer</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services5.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Volunteer</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/services6.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Volunteer</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown" style="visibility: hidden; animation-name: none;">
            <h2>Community Partners</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="partners">
            <ul>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/partner1.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/partner2.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/partner3.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 900ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/partner4.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 1200ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/partner5.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 1500ms; animation-name: none;"></a></li>
            </ul>
        </div>
    </div>
</section>
<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/service/phone.png" width="60" height="60" alt="Phone">
                    </div>
                    <div class="media-body">
                        <h2>Have a question about our Masjid or Islam?</h2>
                        <p>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br>sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>