@model Muslim.Core.Domain.Thumbnails.Thumbnail

<div class="col-sm-6 col-md-4">
    <div class="media services-wrap wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
        <div class="pull-left">
            <img class="img-responsive" src="@Model.Image">
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.Title</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>